@font-face {
    font-family:'Strarborn';
    src: url('Nova pasta/Starborn.ttf');
}


ul{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
   
}


body{
    background-image: url(https://img.freepik.com/free-vector/weather-seamless-pattern-background-vector-cute-doodle-illustration-kids_53876-105731.jpg?w=2000);
}

h1{
    text-align: center;
    font-family: Strarborn;
    color: pink;
}