@font-face {
    font-family:'Strarborn';
    src: url('Nova pasta/Starborn.ttf');
}
@font-face {
    font-family:'nicesugar' ;
    src: url('nice sugar/Nice\ Sugar.ttf');
}
@font-face {
    font-family:'sockae' ;
    src: url('sockace/Socake.ttf');
}
@font-face {
    font-family:'starchoko' ;
    src: url('strachoko/Star\ Choco.ttf');
}

        ul{
            justify-content: space-between;
            display: flex;
            list-style-type: none;
            
        }


    
        body{
            background-image: url(https://img.freepik.com/free-vector/weather-seamless-pattern-background-vector-cute-doodle-illustration-kids_53876-105731.jpg?w=2000);
        }

img#coração{    
    display: flex;
    float: right;
    height: 70px;

    }
    img#estrela{
        display: flex;
        float: right;
        height: 70px;
    }

h1{
    text-align: center;
    font-family: Strarborn;
    color: #ffbfca;
}

h2{
    font-family: starchoko;

}

h3{
    font-family: Strarborn;
    color: #ffbfca;
    justify-content: space-between;
}


.myButton {
    margin-top: 100px;
	background:linear-gradient(to bottom, #ffbfca; 5%, #ffbfca; 100%);
	background-color:#ffbfca;
	border-radius:15px;
	border:1px solid #ffbfca;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
}

.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:hsl(329, 58%, 64%);
}
.myButton:active {
	position:relative;
	top:1px;
}

footer{
    
}
