@font-face {
    font-family:'Strarborn';
    src: url('Nova pasta/Starborn.ttf');
}
@font-face {
    font-family:'nicesugar' ;
    src: url('nice sugar/Nice\ Sugar.ttf');
}
@font-face {
    font-family:'sockae' ;
    src: url('sockace/Socake.ttf');
}
@font-face {
    font-family:'starchoko' ;
    src: url('strachoko/Star\ Choco.ttf');
}

        ul{
            justify-content: space-between;
            display: flex;
            list-style-type: none;
            
        }


    
        body{
            height: auto;
            width: 100%;
            background-image: url(https://img.freepik.com/free-vector/weather-seamless-pattern-background-vector-cute-doodle-illustration-kids_53876-105731.jpg?w=2000);
        }

img#coração{    
    display: flex;
    float: right;
    height: 70px;

    }
    img#estrela{
        display: flex;
        float: right;
        height: 70px;
    }

h1{
    text-align: center;
    font-family: Strarborn;
    color: pink;
}

h2{
    font-family: starchoko;

}
